
#crop-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.crop-modal {
    background-color: #222;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.crop-image-container {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.zoom-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#zoom-slider {
    width: 70%;
    cursor: pointer;
}

.crop-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.crop-buttons button {
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

#crop-cancel-button {
    background-color: white;
    color: #2b2b2b;
}

#crop-cancel-button:hover {
    background-color: #f0f0f0;
}

#crop-confirm-button {
    background-color: #b2cbff;
}

#crop-confirm-button:hover {
    background-color: #a7c3ff;
}

.cropper-wrap-box {
    background-color: #aaa;
}

