body {
    background-color: #2c2c2c;
    color: white;
    margin: 0 15px;
}

h1 {
    font-size: 2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: #2c2c2c;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.header-left {
    width: 90px;
}

.top-header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    width: 90px;
    height: 40px;
    outline: 1px solid #4f4f4f;
    border-radius: 10px;
}

.language:hover {
    background-color: #3b3b3b;
}

.app-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    padding: 5px 20px;
    transition: padding-left .5s;
    box-sizing: border-box;
}

.app-nav::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: white;
}

.app-nav .title {
    color: #88a6ff;
    font-size: 1.3rem;
    font-weight: 600;
}

.app-nav .description {
    font-size: 1.1rem;
    color: #d3d3d3;
}

.app-nav:hover {
    padding-left: 35px;
}

.app-nav:hover::after {
    height: 2px;
}